<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HomegearLibTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <HomegearLibTest.Properties.Settings>
            <setting name="lastHomegearHostname" serializeAs="String">
                <value />
            </setting>
            <setting name="lastHomegearUsername" serializeAs="String">
                <value>test2</value>
            </setting>
            <setting name="lastHomegearPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="lastChkVerifyCertificate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lastCertificatePath" serializeAs="String">
                <value>homegearlib.pfx</value>
            </setting>
            <setting name="lastCertificatePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="lastHomegearPort" serializeAs="String">
                <value>2001</value>
            </setting>
            <setting name="lastChkSsl" serializeAs="String">
                <value>False</value>
            </setting>
        </HomegearLibTest.Properties.Settings>
    </userSettings>
    <System.Windows.Forms.ApplicationConfigurationSection>
      <add key="DpiAwareness" value="PerMonitorV2" />
    </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
